* {
  font-family: "Mulish", sans-serif;
  font-size: 10px;
  background-color: #f4fdfd;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  max-height: 100%;
}

h1 {
  color: #262626;
  font-weight: 800;
  font-size: 4.8rem;
  margin-top: 2.4rem;
  padding: 0;
}

.input-container {
  width: 65%;
  display: flex;
  flex-direction: column;
  margin-top: -2.4rem;
  align-items: center;
  justify-content: center;
  max-height: 30%;
  height: 30%;
}

.input-container p {
  font-size: 3rem;
  gap: 0rem;
  margin: 0;
  font-weight: 500;
  margin-top: 1.8rem;
}

.input-name {
  color: #262626;
  font-size: 2.4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transform: scale(1.025);
  gap: 0.6rem;
}

.generate-btn {
  width: 20%;
  font-size: 2.2rem;
  padding: 0.2rem;
  color: #f4fdfd;
  background-color: #dd2d4a;
  border-radius: 200rem;
  transition: all 0.25s;
  font-weight: 500;
  height: 6rem;
  margin-top: 3.4rem;
  border: 2px solid #1a1a1a;
}

.generate-btn:hover {
  background-color: #d90429;
  cursor: pointer;
}

.generate-btn:active {
  transform: scale(1.05);
  color: #262626;
  background-color: #f4fdfd;
}

.input-name input {
  border: 0;
  font-size: 2.4rem;
  padding: 0.25rem;
  width: 52.5%;
  transition: all 0.25s;
  border-bottom: 1px solid #262626;
}

.input-name input:focus {
  font-size: 2rem;
  transform: scale(1.00125);
  outline: none;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

searchbar {
  margin-top: 0rem;
  height: 100%;
  width: 50%;
}

nodes {
  margin-top: 3.6rem;
}
