* {
  font-family: "Mulish", sans-serif;
  font-size: 10px;
  background-color: #f3f3f3;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  max-height: 100%;
}

h1 {
  color: #262626;
  font-weight: 800;
  font-size: 4.8rem;
  margin-top: 2.4rem;
  padding: 0;
}

.input-container {
  width: 65%;
  display: flex;
  flex-direction: column;
  margin-top: -2.4rem;
  align-items: center;
  justify-content: center;
  max-height: 30%;
  height: 30%;
}

.input-container p {
  font-size: 3rem;
  gap: 0rem;
  margin: 0;
  font-weight: 500;
  margin-top: 1.8rem;
}

.input-name {
  color: #262626;
  font-size: 2.4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transform: scale(1.025);
  gap: 0.6rem;
}

.input-name input {
  border: 0;
  font-size: 2.4rem;
  padding: 0.25rem;
  width: 52.5%;
  transition: all 0.25s;
  border-bottom: 1px solid #262626;
}

.input-name input:focus {
  font-size: 2rem;
  transform: scale(1.00125);
  outline: none;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

searchbar {
  margin-top: 0rem;
  height: 100%;
  width: 50%;
}

.nodes {
  display: flex;
  gap: 4rem;
  margin-top: 4.8rem;
}

.node {
  width: 14rem;
  height: 14rem;
  font-size: 1.75rem;
  font-weight: 500;
  transition: all 0.15s;
  border-radius: 20rem;
  border: 2px solid #1a1a1a;
  background-color: #eceff4;
}

.node:hover {
  cursor: pointer;
  background-color: #1a1a1a;
  color: #f4fdfd;
}

.node:active {
  transform: scale(1.125);
}

.node-red:hover {
  background-color: #e46161;
}

.node-orange:hover {
  background-color: #ff894c;
}
.node-yellow:hover {
  background-color: #f1b963;
}
.node-green:hover {
  background-color: #42b883;
}
.node-blue:hover {
  background-color: #5585b5;
}

.node-purple:hover {
  background-color: #a393eb;
}

.node-black:hover {
  background-color: #352f44;
}
