.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nodes {
  display: flex;
  gap: 4rem;
}

.loading {
  display: flex;
  font-size: 4rem;
  margin-top: 4rem;
  animation: tilt-n-move-shaking 0.5s infinite, fadeout 2.5s;
}

@keyframes tilt-n-move-shaking {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    transform: translate(5px, 5px) rotate(5deg);
  }
  50% {
    transform: translate(0, 0) rotate(0eg);
  }
  75% {
    transform: translate(-5px, 5px) rotate(-5deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}

.node {
  width: 14rem;
  height: 14rem;
  font-size: 1.6rem;
  font-weight: 500;
  border-radius: 20rem;
  border: 2px solid #1a1a1a;
  /* background-color: #eceff4; */
  background-color: #ffffff;

  animation: fadein 0.5s;
}

@keyframes fadein {
  from {
    opacity: 0;
    font-size: 0.6rem;
    width: 10rem;
    height: 10rem;
  }
  to {
    opacity: 1;
    font-size: 1.6rem;
    width: 14rem;
    height: 14rem;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
    font-size: 4rem;
  }
  to {
    opacity: 0;
    font-size: 0rem;
  }
}

.node:hover {
  cursor: pointer;
  background-color: #1a1a1a;
  color: #f4fdfd;
}

.node:active {
  transform: scale(1.125);
}

.node-red:hover {
  background-color: #e46161;
}

.node-orange:hover {
  background-color: #ff894c;
}

.node-yellow:hover {
  background-color: #f1b963;
}

.node-green:hover {
  background-color: #42b883;
}

.node-blue:hover {
  background-color: #5585b5;
}

.node-purple:hover {
  background-color: #a393eb;
}

.node-black:hover {
  background-color: #352f44;
}
