.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nodes {
  display: flex;
  gap: 4rem;
}

.node {
  width: 14rem;
  height: 14rem;
  font-size: 1.75rem;
  font-weight: 500;
  transition: all 0.15s;
  border-radius: 20rem;
  border: 2px solid #1a1a1a;
  background-color: #eceff4;
}

.node:hover {
  cursor: pointer;
  background-color: #1a1a1a;
  color: #f4fdfd;
}

.node:active {
  transform: scale(1.125);
}

.node-red:hover {
  background-color: #e46161;
}

.node-orange:hover {
  background-color: #ff894c;
}
.node-yellow:hover {
  background-color: #f1b963;
}
.node-green:hover {
  background-color: #42b883;
}
.node-blue:hover {
  background-color: #5585b5;
}

.node-purple:hover {
  background-color: #a393eb;
}

.node-black:hover {
  background-color: #352f44;
}
